<!DOCTYPE html>
<html>

<head>
  <title>Beautiful Nav Bar</title>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
  {% include 'navbar.html' %}
  <!-- {%if user%}
  <h1>Welcome Back {{user[1]}}</h1>
  {%endif%} -->
  
  <!-- <div class="container_img">
    <div class="box">
      
    </div>
    <div class="box">

    </div>
  </div> -->
  <header id="header">
    <div class="text" ><h1>Welcome to <span>Registeration desk</span></h1></div>
    
    <div class="rounded-image">
      <img src="/static/images/lee.jpg" alt="Beautiful Image">
    </div>
  </header>
  <section id="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac leo vitae ipsum venenatis ultricies a nec lectus.</p>
    <p>Quisque consectetur ex sed lorem convallis rutrum. Fusce ut ex nec felis feugiat fringilla eget sit amet neque.</p>
    <p>Integer ultrices ligula nec nisi placerat, sed tempus ligula varius.</p>
  </section>
  
</body>

</html>